# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: Vikram's Data Science Blog
author: Vikram Pawar
logo: starburst_narrow.png
description: A blog exploring AI and Machine Learning

sphinx:
  config:
    project: 'Starburst'
    author: 'Vikram Pawar'
    copyright: 'Vikram Pawar [novastar53.github.io]'
    html_theme: alabaster #sphinx_book_theme 
    html_theme_options: 
      body_min_width: 480 
      body_max_width: 1024
      sidebar_width: 25%
      page_width: 99%
    nb_execution_show_tb: true
    nb_execution_timeout: 3600
  #extra_extensions:
  #  - jupyterbook_patches

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  execute_notebooks: auto
  timeout: 3600
  allow_errors: true


# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# Information about where the book exists on the web
repository:
  url: https://github.com/novastar53/novastar53.github.io # Online location of your book
  path_to_book: docs  # Optional path to your book, relative to the repository root
  branch: gh-pages  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  favicon: starburst (200 x 200 px).png
